
.container{
    display : grid ;
    grid-template-columns: auto auto; 

}

.creanciers-section {
    background-color: #ffffff;
    padding: 15px 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .card {
    border-radius: 0;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    margin-bottom: 20px;
    width: 80%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .custom-card {
    padding: 10px;
  }
  
  .card-img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .text-primary {
    color: #000000;
  }
  
  .mb-1 {
    margin-bottom: 0.5rem;
  }
  
  .pb-3 {
    padding-bottom: 1rem;
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .mx-n3 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  ul.list-unstyled {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul.list-unstyled li {
    margin-bottom: 0.5rem;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-fill {
    flex: 1;
  }
  
