<app-navbar></app-navbar>
<br>
 <h1>Choix de votre methode de payement:</h1>

<section class="creanciers-section">
  <div class="container py-5">
          <ng-container *ngFor="let creancier of creanciers; let i = index">
              <div class="card  crancier-card">
                <a [routerLink]="['/recharge']">
                  <img [src]="creancier.src" class="card-img" [alt]="creancier.title" />
                </a>
                  <div class="text-center mt-1">
                    <h4 class="card-title">{{ creancier.title }}</h4>
                    <h6 class="text-primary mb-1 pb-3">{{ creancier.description }}</h6>
                  </div>
                </div>
          </ng-container>
        </div>
</section>

