
<app-navbar></app-navbar>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div>
      Name: {{ dataFromParent }}
    </div>

    <h1 class="color"> Donation </h1>
    <form (ngSubmit)="onSubmit()" name="DonationForm" [formGroup]="DonationForm">
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Amount</mat-label>
          <input formControlName="amount" matInput required placeholder="Enter Amount" />
          <mat-error *ngIf="DonationForm.get('amount')?.errors?.['required']">
            Amount is Required
          </mat-error>
        </mat-form-field>
      </div>
      <button style="height: 50px;" mat-flat-button color="primary" class="full-width">Donate</button>
    </form>
  </div>
</div>
