<app-navbar></app-navbar>

<div>
    <h2 >Paiement de Facture</h2>
        <div *ngFor="let creditor of creditorsFacture" >
            <h4>Name: {{creditor.name}}</h4>
            <h4>Code: {{creditor.code}}</h4>
            <span *ngFor="let creance of creditor.creance">
              <div>
                <b>&gt;</b> {{creance.name}}: {{creance.code}} <br/>
              </div>
            </span>
            <br/>
            <br/>
        </div>
</div>
<div>
    <h2 >Paiement de Recharge</h2>
        <div *ngFor="let creditor of creditorsRecharge" >
            <h4>Name: {{creditor.name}}</h4>
            <h4>Code: {{creditor.code}}</h4>
            <span *ngFor="let creance of creditor.creance">
              <div>
                <b>&gt;</b> {{creance.name}}: {{creance.code}} <br/>
              </div>
            </span>
            <br/>
            <br/>
        </div>
</div>
<div>
    <h2 >Donation</h2>
        <div *ngFor="let creditor of creditorsDonation" >
            <h4>Name: {{creditor.name}}</h4>
            <h4>Code: {{creditor.code}}</h4>
            <span *ngFor="let creance of creditor.creance">
              <div (click)="openDonationComponent(creance.name)" >
                <b>&gt;</b> {{creance.name}}: {{creance.code}} <br/>
              </div>
            </span>
            <br/>
            <br/>
        </div>
</div>



