.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  min-width: 600px;
  text-align: center;
  max-height: 600px;
}

.header {
  text-align: center;
}

.full-width {
  width: 80%;
}
