<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Nouveau MDP</h2>
      </div>
      <form
        (ngSubmit)="onSubmit()"
        name="newPasswordForm"
        [formGroup]="newPasswordForm"
      >
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="newPassword"
              matInput
              [type]="hide ? 'newPassword' : 'text'"
              required
              placeholder="Enter New Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="newPasswordForm.get('newPassword')?.errors?.['required']"
            >
              New Password is Required
            </mat-error>
            <mat-error
              *ngIf="newPasswordForm.get('newPassword')?.hasError('minlength')"
            >
              New Password must be at least 6 characters long
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Confirmation</mat-label>
            <input
              formControlName="confirmation"
              matInput
              [type]="hide ? 'confirmation' : 'text'"
              required
              placeholder="Enter Confirmation du mdp"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordForm.hasError('passwordMismatch')">
              Passwords do not match
            </mat-error>
            <mat-error
              *ngIf="newPasswordForm.get('confirmation')?.errors?.['required']"
            >
              Confirmation is Required
            </mat-error>

          </mat-form-field>
        </div>
        <button
          style="height: 50px"
          mat-flat-button
          color="primary"
          class="full-width"
        >
          Confirmer Nouveau MDP
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

