.navbar {
  justify-content: space-between;
  background-color: #3f51b5;
  height: 70px;

}

.navbar-link {
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
  padding-right: 1rem
}


.active-link {
  font-weight: 500;
  color: #fff;
}
