.navbar {
  justify-content: space-between;
  background-color:#6050DC;
  height: 70px;

}

.navbar-link {
  text-decoration: none;
  text-shadow: 1px 1px 2px #1e1e20;

  color: #ddd;
  font-weight: 400;
  padding-right: 1rem

}

.active-link {
  font-weight: 500;
  color: #fff;
}
