<mat-toolbar color="danger" class="navbar">

  <a class="navbar-link"  routerLink="/home">Home</a>




  <div>

    <a class="navbar-link"  routerLink="/userinfo">userinfo</a>
    <a class="navbar-link"  routerLink="/rechargepage">recharge</a>
    <a class="navbar-link"  routerLink="/donation">donation</a>
    <a class="navbar-link"  routerLink="/facture">facturation</a>
    <a class="navbar-link"  routerLink="/historique">historique</a>


    <button mat-raised-button>Log Out</button>
  </div>
</mat-toolbar>
