<mat-toolbar color="danger" class="navbar">

  <a class="navbar-link"  routerLink="/home"  routerLinkActive="active-link">Home</a>




  <div>
    <a class="navbar-link"  routerLink="/facture"  routerLinkActive="active-link">facture</a>
    <a class="navbar-link"  routerLink="/userinfo"  routerLinkActive="active-link">userinfo</a>
    <a class="navbar-link"  routerLink="/payment"  routerLinkActive="active-link">payment</a>


    <button mat-raised-button>Log Out</button>
  </div>
</mat-toolbar>
