.navbar {
  justify-content: space-between;
  background-color:#6050DC;
  height: 70px;

}

.navbar-link {
  text-decoration: none;
  text-shadow: 1px 1px 2px #1e1e20;

  color: #fff;
  padding-right: 1rem
  
}
