<mat-toolbar color="danger" class="navbar">

  <a class="navbar-link"  routerLink="/home"  routerLinkActive="active-link">Home</a>




  <div>

    <a class="navbar-link"  routerLink="/userinfo"  routerLinkActive="active-link">userinfo</a>
    <a class="navbar-link"  routerLink="/rechargepage"  routerLinkActive="active-link">recharge</a>
    <a class="navbar-link"  routerLink="/donation"  routerLinkActive="active-link">donation</a>
    <a class="navbar-link"  routerLink="/facture"  routerLinkActive="active-link">facturation</a>
    <a class="navbar-link"  routerLink="/historique"  routerLinkActive="active-link">historique</a>


    <button mat-raised-button>Log Out</button>
  </div>
</mat-toolbar>
